---
layout: default
---
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-blue">Sobre la Escuela de Incidencia</div>
        {% include faq01.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre quienes postulan</div>
        {% include faq02.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-red">Sobre el proceso de postulación</div>
        {% include faq03.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">¿Tienes preguntas adicionales sobre la Escuela de Incidencia o el proceso de postulación? ¡Mándanos un correo a <mark><a href="mailto:escuela@ciudadanointeligente.org" target="_top">escuela@ciudadanointeligente.org</a></mark> y te responderemos lo más pronto posible!</p>
      </div>
    </div>
  </div>
</section>
