---
layout: default
---
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-blue">Sobre a Escuela de Incidencia</div>
        {% include faq01.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre quem se inscreve</div>
        {% include faq02.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-red">Sobre o processo de inscrição</div>
        {% include faq03.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">Tem alguma pergunta sobre a Escuela de Incidencia ou sobre o processo de inscrição? Mande um e-mail <mark><a href="mailto:contato@cidadaniainteligente.org" target="_top">contato@cidadaniainteligente.org</a></mark> e te responderemos o mais rápido possível!</p>
      </div>
    </div>
  </div>
</section>
