---
layout: default
---
<section class="filters">
  <div class="container">
    <img src="/assets/img/bar.svg">
    <h2>Participantes da Escuela de Incidencia</h2>
    <p class="highlight">Conheça as pessoas que são parte da Escuela de Incidencia e estão incentivando processos de mudança social.</p>
    <p class="highlight">Te convidamos a ver o perfil de cada participante usando nossos filtros por edição, país e temas.</p>
    <div class="button-group filters-button-group">
      <p class="bajada">Filtro de participantes por edição</p>
      <button type="button" class="btn btn-primary btn-sm" data-filter="2017">2017</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="2018">2018</button>
    </div>
    <div class="button-group filters-button-group">
      <p class="bajada">Filtro de participantes por país</p>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Bolivia">Bolívia</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Colombia">Colômbia</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Ecuador">Equador</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Guatemala">Guatemala</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Perú">Perú</button>
    </div>
    <div class="button-group filters-button-group">
      <p class="bajada">Filtro de participantes por área de trabalho</p>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Ciudad" > Cidade</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Comunicaciones" > Comunicação</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Democracia" > Democracia</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Diversidad Sexual" > Diversidade Sexual</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Discapacidad" > Deficiência</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Derechos de la Niñez" > Direitos das crianças</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="DDHH" > Direitos Humanos</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Educación" > Educação</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Exclusión Social" > Exclusão Social</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Formación Ciudadana" > Formação Cidadã</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Género" > Gênero</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Gobierno Abierto" > Governo Aberto</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Interculturalidad" > Cultura</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Juventudes" > Juventude</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Justicia" > Justiça</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Medio Ambiente" > Meio Ambiente</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Memoria Colectiva" > Memória Coletiva</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Participación Ciudadana" > Participação Cidadã</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Pobreza" > Pobreza</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Política" > Política</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Salud" > Saúde</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Seguridad Pública" > Segurança Pública</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Sustentabilidad" > Sustentabilidade</button>
      <button type="button" class="btn btn-primary btn-sm" data-filter="Transparencia" > Transparência </button>
      <br>
      <br>
      <button type="button" class="btn btn-warning btn-sm pull-right" data-filter="todo">Limpar busca</button>
    </div>
  </div>
</section>

<section class="profiles">
  <div class="container">
    <div id="no-data">

    </div>
    <div class="card-columns">
      {% assign participantes = site.data.participantes[2017] | concat: site.data.participantes[2018]  %}
      {% for p in participantes %}
        {% for e in p.equipo %}
          <div class="card grid-item {{ e.country }} {{ e.tag0 }} {{ e.tag1 }} {{ e.tag2 }} {{ e.tag3 }} {{ e.tag4 }} {{ e.tag5 }} {{ e.tag6 }} {{ e.tag7 }} {{ e.tag7 }} {{ e.tag8 }} {{ e.tag9 }} {{ e.tag10 }} {{ e.tag11 }} {{ e.tag12 }} {{ e.tag13 }} {{ e.tag14 }} {{ e.tag15 }}"
            data-category="{{ e.country }}">
            <img src="{{ site.baseurl }}{{ e.image }}" alt="{{ e.name }} - {{ e.organization }}" class="card-img-top img-fluid">
              <div class="card-block">
                <div class="perfil-info">
                  <h4>{{ e.country }} - {{ e.tag0 }}</h4>
                  <h3>{{ e.name }}</h3>
                  <div class="persona-org">
                    <h4>{{ e.organization }} - {{ e.position }}</h4>
                  </div>
                  <p class="bio">{{ e.bio }}</p>
                  <span class="badge badge-primary">{{ e.tag1 }}</span>
                  <span class="badge badge-danger">{{ e.tag2 }}</span>
                  <span class="badge badge-warning">{{ e.tag3 }}</span>
                  <span class="badge badge-primary">{{ e.tag4 }}</span>
                  <span class="badge badge-danger">{{ e.tag5 }}</span>
                  <span class="badge badge-warning">{{ e.tag6 }}</span>
                  <span class="badge badge-primary">{{ e.tag7 }}</span>
                  <span class="badge badge-danger">{{ e.tag8 }}</span>
                  <span class="badge badge-warning">{{ e.tag9 }}</span>
                  <span class="badge badge-primary">{{ e.tag10 }}</span>
                  <span class="badge badge-danger">{{ e.tag11 }}</span>
                  <span class="badge badge-warning">{{ e.tag12 }}</span>
                  <span class="badge badge-primary">{{ e.tag13 }}</span>
                  <span class="badge badge-danger">{{ e.tag14 }}</span>
                  <span class="badge badge-warning">{{ e.tag15 }}</span>
                </div>
              </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $( document ).ready( function() {
    var filters = []
    $('.filters-button-group').on( 'click', 'button', function() {
      var filterValue = $( this ).attr('data-filter');
      index = filters.indexOf(filterValue)
      if (index > -1) {
        filters.splice(index, 1);
      } else {
        filters.push(filterValue)
      }
      if (filterValue == 'todo') {
        $('#no-data').text('');
        filters = [];
        $('.grid-item').each( function( i,  GridItem) {
            $( this ).addClass('is-visible');
            $( this ).show();
        });
      }else {
        $('.grid-item').each( function( i,  GridItem) {
          var participante = $( this );
          counter = 0;
          filters.forEach(function(element) {
              if (!participante.hasClass(element)) {
                counter += 1;
              }
          });
          if (counter == 0){
            $( this ).addClass('is-visible');
            $( this ).show();
          } else {
            $( this ).removeClass('is-visible');
            $( this ).hide();
          }
        });

        if ($('.is-visible').length == 0) {
          $('#no-data').text('Não há participantes nas categorias selecionadas');
        }else{
          $('#no-data').text('');
        }
      }
    });

    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        if ($( this ).hasClass('is-checked')) {
            $( this ).removeClass('is-checked');
        } else {
          $( this ).addClass('is-checked');
        }
        var filterValue = $( this ).attr('data-filter');
        if (filterValue == 'todo') {
          $('button').each( function( i,  GridItem) {
              $( this ).removeClass('is-checked');
          });
        }
      });
    });

  });
</script>
