<section class="countries">
  <div class="container">
    <div class="row">
      <div class="col-md-4 legend">
        <img src="/assets/img/bar.svg">
        <p class="highlight">Estos son los países donde hemos compartido nuestras herramientas</p>
        <ul class="list-unstyled">
          <li class="highlight"><i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#32AEC1;"></i> Escuela 2017</li>
          <li class="highlight"><i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#F7BD3A;"></i> Escuela 2018</li>
        </ul>
      </div>
      <div class="col-md-8 justify-content-md-center">
        <img src="/assets/img/map.svg" class="img-responsive">
      </div>
    </div>
  </div>
</section>
