<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading18">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
          Quando o período de inscrição da Escuela de Incidencia 2018 começa e quando termina?                </a>
      </h5>
    </div>
    <div id="collapse18" class="collapse" role="tabpanel" aria-labelledby="heading18" data-parent="#accordion">
      <div class="card-body">
        A chamada estará abierta de 02 até 16 de Maio.            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading19">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
          Posso enviar materiais adicionais ao formulário de inscrição?                </a>
      </h5>
    </div>
    <div id="collapse19" class="collapse" role="tabpanel" aria-labelledby="heading19" data-parent="#accordion">
      <div class="card-body">
        Não, qualquer material adicional será solicitado pela equipe responsável pela Escuela de Incidencia 2018.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading20">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
          Não consegui me inscrever antes do fechamento da chamada, ainda posso enviar minha inscrição?                </a>
      </h5>
    </div>
    <div id="collapse20" class="collapse" role="tabpanel" aria-labelledby="heading20" data-parent="#accordion">
      <div class="card-body">
        Não, nos desculpamos! As inscrições não serão aceitas fora da data da chamada.                </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading21">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
          Se eu apliquei no ano passado, posso reaplicar?              </a></h5>
    </div>
    <div id="collapse21" class="collapse" role="tabpanel" aria-labelledby="heading21" data-parent="#accordion">
      <div class="card-body">
        Claro que sim! Ter aplicado no ano passado não é uma limitação para aplicar este ano.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading22">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
          Se não for selecionada/o nesta chamada, posso aplicar para futuras convocatórias?               </a>
      </h5>
    </div>
    <div id="collapse22" class="collapse" role="tabpanel" aria-labelledby="heading22" data-parent="#accordion">
      <div class="card-body">
        Claro que sim! Desde que você cumpra os requisitos indicados na chamada.             </div>
      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading23">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
          Quando saberemos o resultado da chamada?             </a>
      </h5>
    </div>
    <div id="collapse23" class="collapse" role="tabpanel" aria-labelledby="heading23" data-parent="#accordion">
      <div class="card-body">
        Vamos compartilhar os resultados da chamada durante o mês de maio.              </div>
    </div>
  </div>
</div>
