<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading01">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
          ¿Qué es la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="heading01" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia es una iniciativa de formación-acción que fomenta el liderazgo de nuevas generaciones para lograr cambios sociales a través de la incidencia en políticas públicas. Transferimos la metodología <mark><a href="//labcivico.org" target="_blank">LabCívico</a></mark> a liderazgos emergentes para catalizar procesos de cambio social que unan a la sociedad civil, el gobierno y la academia tras un objetivo común.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading02">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
          ¿Qué es la metodología LabCívico?
        </a>
      </h5>
    </div>
    <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="heading02" data-parent="#accordion">
      <div class="card-body">
        LabCívico es una metodología de <mark><a href="//ciudadanointeligente.org" target="_blank">Fundación Ciudadano Inteligente</a></mark> que permite elaborar estrategias colaborativas para incidir en políticas públicas y, de esta forma, alcanzar cambios sociales.
        Con esta metodología buscamos responder algunas interrogantes: ¿Cómo idear soluciones a problemas públicos desde la colaboración? ¿Cómo entender la problemática y el contexto que queremos transformar? ¿Cómo generar planes de trabajo colaborativos para incidir? Además, A través de talleres presenciales, con participación de agentes clave provenientes de una diversidad de sectores, se concretarán planes de incidencia con el uso de herramientas tecnológicas y comunicacionales.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading03">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
          ¿Qué incluye la participación en la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="heading03" data-parent="#accordion">
      <div class="card-body">
        Tu participación en la Escuela de Incidencia contempla tres etapas que se desarrollan a lo largo de ocho meses:
        <ul>
          <li><b>Formación presencial:</b>  quienes participan recibirán herramientas de facilitación de procesos, liderazgo colaborativo. Asimismo, se les transferirá la metodología LabCívico, que permite realizar una planificación de incidencia política y/o social que tiene una duración de tres jornadas.</li>
          <li><b>Replicación de metodología LabCívico:</b> cada participante organizará y facilitará un taller con la metodología LabCívico para avanzar en la solución del problema público que busca resolver. Para la preparación del LabCívico deberás considerar dos jornadas de trabajo por seis semanas y para la facilitación del taller se deberá contemplar dos jornadas más.</li>
          <li><b>Implementación de proyectos:</b> cada participante, con el apoyo de quienes colaboraron en el LabCívico y con un fondo semilla otorgado por Ciudadano Inteligente, coordinará la implementación de un proyecto cívico de entre tres y cuatro meses. Esta actividad puede tomar entre seis y doce jornadas de trabajo en su totalidad.</li>
        </ul>
        Adicionalmente, la Escuela ofrece un acompañamiento constante a participantes, para asesorar su avance y posterior logro de objetivos.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading04">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
          ¿En qué países se realizará la Escuela de Incidencia en 2018?
        </a>
      </h5>
    </div>
    <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="heading04" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Colombia</li>
          <li>Ecuador</li>
          <li>Guatemala</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading05">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
          ¿Cuánta gente se selecciona por país?
        </a>
      </h5>
    </div>
    <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="heading05" data-parent="#accordion">
      <div class="card-body">
        14 personas por país.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading06">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
          ¿Cuánto tiempo debo comprometer para participar en la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="heading06" data-parent="#accordion">
      <div class="card-body">
        Si te seleccionamos para participar de la Escuela de Incidencia 2018, debes considerar tres días de asistencia a una formación presencial, además de dos jornadas de trabajo por seis semanas para planificar tu LabCívico  y dos días para implementar tu taller.
        También debes contemplar tiempo para la implementación de un proyecto a corto plazo. Por ejemplo, algunxs participantes de la Escuela de Incidencia 2017 han dedicado una jornada de trabajo por ocho semanas a la coordinación de estos, por ende, recomendamos que los proyectos estén directamente vinculados con tu actividad principal, para que esto sume al alcance de objetivos.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading07">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse07" aria-expanded="false" aria-controls="collapse07">
          ¿Tengo que pagar para ser parte de la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse07" class="collapse" role="tabpanel" aria-labelledby="heading07" data-parent="#accordion">
      <div class="card-body">
        No, la formación no tiene costos asociados.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading08">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse08" aria-expanded="false" aria-controls="collapse08">
          ¿Cómo se financia la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="heading08" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia 2018 está financiada por el National Endowment for Democracy (NED) y por el International Development Research Center (IDRC).
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading09">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
          ¿Se ha hecho antes?
        </a>
      </h5>
    </div>
    <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="heading09" data-parent="#accordion">
      <div class="card-body">
        Sí, en 2017 desarrollamos la primera edición de la Escuela en Bolivia, Colombia, Ecuador y Perú. En esa oportunidad seleccionamos a 32 personas, liderando sus áreas de especialidad para entregarles herramientas de facilitación e incidencia.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading10">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          ¿Necesito cubrir los costos de traslado para participar en los talleres de la Escuela?
        </a>
      </h5>
    </div>
    <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
      <div class="card-body">
        Para la Escuela de Incidencia 2018 contamos con becas para el financiamiento parcial de movilización y estadía para quienes lo requieran y vivan en una ciudad diferente a la sede de las formaciones presenciales.
      </div>
    </div>
  </div>
</div>
