<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading01">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
          O que é a Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="heading01" data-parent="#accordion">
      <div class="card-body">
        A Escuela de Incidencia é uma iniciativa de formação-ação que fomenta lideranças para realizarem mudanças sociais através da incidência em políticas públicas. Transferimos a metodologia <mark><a href="//br.labcivico.org" target="_blank">LabCívico</a></mark> para lideranças emergentes com o propósito de estimular processos de mudança social que unam a sociedade civil, o governo e a academia por um objetivo em comum.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading02">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
          O que é a metodologia LabCívico?
        </a>
      </h5>
    </div>
    <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="heading02" data-parent="#accordion">
      <div class="card-body">
        LabCívico é uma metodologia da <mark><a href="//ciudadanointeligente.org" target="_blank">Fundação Cidadania Inteligente</a></mark> que permite elaborar estratégias colaborativas para incidir en políticas públicas e, desta forma, alcançar mudanças sociais.
        Com esta metodologia, buscamos responder algumas perguntas: Como pensar em soluções para problemas públicos a partir da colaboração? Como entender o problema e o contexto que queremos transformar? Como gerar planos de trabalho colaborativos para incidir? Através de encontros presenciais, com a participação de agentes chave de uma diversidade de setores, serão criados planos de incidência com ferramentas tecnológicas e de comunicação.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading03">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
          O que inclui a participação na Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="heading03" data-parent="#accordion">
      <div class="card-body">
        Sua participação se dará em três etapas que seão desenvolvidas ao longo de oito (8) meses:
        <ul>
          <li><b>Formação presencial:</b> as/os participantes receberão ferramentas de facilitação de processos e liderança colaborativa. Além disso, será transferida a metodologia LabCívico que permite realizar que permite realizar um planejamento de incidência política e/ou social com duração de três dias.</li>
          <li><b>Replicação da metodologia LabCívico:</b> cada participante organizará e facilitará uma oficina com a metodologia LabCívico para avançar na solução do problema que se quer resolver. Para a preparação do LabCívico são necessários duas jornadas de trabalho por seis semanas e para a facilitação da oficina serão necessários dois dias.</li>
          <li><b>Implementação de projetos:</b> cada participante, com o apoio de quem colaborou no LabCívico e com um fundo fornecido pela Fundação Cidadania Inteligente, coordenará a implementação de um projecto cívico entre três e quatro meses após a formação da Escuela. Essa atividade pode precisar de seis a doze jornadas de trabalho.</li>
        </ul>
        Além disso, a Escuela oferece um acompanhamento das/os participantes, para dar assistência ao progresso e concretização dos objetivos.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading04">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
          Em que países será realizadala Escuela de Incidencia em 2018?
        </a>
      </h5>
    </div>
    <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="heading04" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Colômbia</li>
          <li>Equador</li>
          <li>Guatemala</li>
          <li>Brasil</li>
          <li>Chile</li>
          <li>México</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading05">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
          Quantas pessoas são selecionadas por país?
        </a>
      </h5>
    </div>
    <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="heading05" data-parent="#accordion">
      <div class="card-body">
        14 pessonas por país.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading06">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
          Quanto tempo eu preciso dedicar para participar da Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="heading06" data-parent="#accordion">
      <div class="card-body">
        Se você for selecionada/o para participar da Escuela de Incidencia 2018, deve comparecer à uma formação presencial de três dias, além de duas jornada de trabalho por seis semanas para planejar seu LabCívico e mais dois dias para realizar a oficina.
        Deve ser considerado também o tempo de implementação do projeto a curto prazo. Por exemplo, alguns/mas participantes da Escuela de Incidencia 2017 se dedicaram a uma jornada de trabalho de oito semanas para coordenação do projeto, por isso, recomendamos que o projeto eseja diretamente ligado com sua atividade principal.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading07">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse07" aria-expanded="false" aria-controls="collapse07">
          Tenho que pagar para participar da Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse07" class="collapse" role="tabpanel" aria-labelledby="heading07" data-parent="#accordion">
      <div class="card-body">
        Não, a formação não tem custos.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading08">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse08" aria-expanded="false" aria-controls="collapse08">
          Como a Escuela de Incidencia é financiada?
        </a>
      </h5>
    </div>
    <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="heading08" data-parent="#accordion">
      <div class="card-body">
        A Escuela de Incidencia 2018 é financiada pelo National Endowment for Democracy (NED) e pelo International Development Research Center (IDRC).
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading09">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
          Já foram realizadas outras edições?
        </a>
      </h5>
    </div>
    <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="heading09" data-parent="#accordion">
      <div class="card-body">
        Sim, em 2017 desenvolvemos a primeira edição da Escuela na Bolívia, Colômbia, Ecuador y Perú. Nessa edição foram selecioanadas 32 pessoas, de diferentes áreas de especialidade, para as quais foram entregues ferramentas de facilitação e incidência.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading10">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          Preciso cobrir os custos de transporte para participar das oficinas da escola?
        </a>
      </h5>
    </div>
    <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
      <div class="card-body">
        Para a Escuela de Incidencia 2018 contamos com bolsas para o financiamiento parcial de transporte e estadia para as/os que solicitarem e que vivam em uma cidade diferente da sede das formações presenciais.
      </div>
    </div>
  </div>
</div>
