<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading11">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Quem pode se inscrever?
        </a>
      </h5>
    </div>
    <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11" data-parent="#accordion">
      <div class="card-body">
        Todas as pessoas que estejam desenvolvendo projetos relacionados a violência, juventude, gênero e transparência política, lideranças emergentes, residentes dos países selecionados, que tenham tempo para participar do processo de formação e que tenham conexão com a temática que desenvolvem.
      </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading12">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          Existe alguma restrição de idade para se inscrever?
        </a>
      </h5>
    </div>
    <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12" data-parent="#accordion">
      <div class="card-body">
        A idade mínima para se inscrever na Escuela de Incidencia é de 18 anos e a máxima de 40 anos.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading13">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Há alguma restrição relacionada à filiação política?
        </a>
      </h5>
    </div>
    <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13" data-parent="#accordion">
      <div class="card-body">
        Não, qualquer pessoa que esteja desenvolvendo um projeto dentro dos temas de interesse pode se inscrever.
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading14">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
          Tenho grandes idéias sobre como melhorar a realidade de minha comunidade, mas ainda não coloquei em prática. Posso me inscrever?                </a>
      </h5>
    </div>
    <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="heading14" data-parent="#accordion">
      <div class="card-body">
        Não, pois estamos buscando pessoas que estejam trabalhando de forma ativa parra encontrar as possíveis soluções para os problemas já mencionados.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading15">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
          Se eu tiver uma nacionalidade diferente do meu país de residência atual, posso me inscrever?                 </a>
      </h5>
    </div>
    <div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="heading15" data-parent="#accordion">
      <div class="card-body">
        Você pode se inscrever da mesma forma, desde que resida em um dos países selecionados para a Escuela 2018 (Equador, Colômbia e Guatemala).              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading16">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
          Se eu estiver em um país não incluído na chamada, posso me inscrever da mesma maneira?                 </a>
      </h5>
    </div>
    <div id="collapse16" class="collapse" role="tabpanel" aria-labelledby="heading16" data-parent="#accordion">
      <div class="card-body">
        Não, para esta ocasião, apenas os residentes dos países incluídos na chamada avançarão no processo de inscrição.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading17">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
          Se eu não moro na sede da formação presencial do meu país, posso me inscrever?                </a>
      </h5>
    </div>
    <div id="collapse17" class="collapse" role="tabpanel" aria-labelledby="heading17" data-parent="#accordion">
      <div class="card-body">
        Claro que sim! Nesta oportunidade temos bolsas de estudos para financiar a mobilização e estadia dos participantes que não moram na sede da formação presencial.               </div>
    </div>
  </div>
</div>
