<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading18">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
          ¿Cuándo inicia y cuándo termina el periodo de postulación a la Escuela de Incidencia 2018?                </a>
      </h5>
    </div>
    <div id="collapse18" class="collapse" role="tabpanel" aria-labelledby="heading18" data-parent="#accordion">
      <div class="card-body">
        La convocatoria estará abierta del 13 al 25 de diciembre.            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading19">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
          ¿Puedo enviar materiales adicionales al formulario de postulación?                </a>
      </h5>
    </div>
    <div id="collapse19" class="collapse" role="tabpanel" aria-labelledby="heading19" data-parent="#accordion">
      <div class="card-body">
        No, cualquier material adicional será solicitado por el equipo a cargo de la Escuela de Incidencia 2018.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading20">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
          No logré postular antes del cierre de la convocatoria, ¿aún puedo mandar mi postulación?                </a>
      </h5>
    </div>
    <div id="collapse20" class="collapse" role="tabpanel" aria-labelledby="heading20" data-parent="#accordion">
      <div class="card-body">
        No, ¡lo sentimos! No se aceptarán postulaciones fuera de la fecha de convocatoria.                </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading21">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
          Si postulé el año pasado ¿puedo volver a aplicar?              </a></h5>
    </div>
    <div id="collapse21" class="collapse" role="tabpanel" aria-labelledby="heading21" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! Haber postulado el año pasado no es una limitación para aplicar este año.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading22">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
          Si no quedo seleccionadx en esta ocasión, ¿puedo volver a aplicar a futuras convocatorias?               </a>
      </h5>
    </div>
    <div id="collapse22" class="collapse" role="tabpanel" aria-labelledby="heading22" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! Siempre que cumplas con los requerimientos señalados en las bases de la convocatoria.             </div>
      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading23">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
          ¿Cuándo notificarán los resultados de esta convocatoria?             </a>
      </h5>
    </div>
    <div id="collapse23" class="collapse" role="tabpanel" aria-labelledby="heading23" data-parent="#accordion">
      <div class="card-body">
        Compartiremos los resultados de la convocatoria durante el mes de febrero.              </div>
    </div>
  </div>
</div>
