<footer class="site-footer">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/logo-blanco.svg">
        </div>
        <div class="col-md-3">
          Un proyecto de
          <img src="/assets/img/logo-fci.svg">
        </div>
        <div class="col-md-3">
          Con el apoyo de
          <img src="/assets/img/logo-ned.svg">
        </div>
        <div class="col-md-3">
          Medio colaborador
          <img src="/assets/img/logo-pacifista.svg">
        </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center" id="footer_links">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20de%20Partido%20Publico" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Mándanos un correo</a></li>
              <li class="list-inline-item"><a href="//github.com/ciudadanointeligente/partidopublico" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código</a></li>
              <li class="list-inline-item"><a href="//twitter.com/ciudadanoi" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
              <li class="list-inline-item"><a href="//www.facebook.com/ciudadanointeligente" target="_blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</li></a>
            </ul>
          </div>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.analytics}}', 'auto');
  ga('send', 'pageview');

</script>
