<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.keywords }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ site.basedomain }}" />
  <meta property="og:image" content="http://{{ site.basedomain }}/assets/img/og-img.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:keywords" content="{{ site.keywords }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />

  <!-- css -->
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700|Montserrat+Alternates:700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/og-img.png">

</head>
