<nav class="navbar navbar-toggleable-md navbar-home">
<div class="container">

<div class="brand col-md-4">
  <a class="site-title navbar-brand" href="{{ site.baseurl }}/" onclick="ga('send','event','logo-home','click')"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="img-responsive"></a>
  <div class="sub-brand"><a href="//ciudadanointeligente.org" target="_blank" onclick="ga('send','event','sub-brand-fci','click')">Un proyecto de Ciudadano Inteligente</a>
  </div>
</div>

<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span><i class="fa fa-bars" aria-hidden="true"></i></span>
</button>

  <div class="collapse navbar-collapse justify-content-end col-md-8" id="navbarTogglerDemo02">
    <ul class="navbar-nav">
      <li class="nav-item"><mark><a href="{{ site.baseurl }}/metodologia.html" onclick="ga('send','event','menu-metodologia','click')">¿Qué es?</a></mark></li>
      <li class="nav-item"><mark><a href="{{ site.baseurl }}/escuela-2018.html" onclick="ga('send','event','menu-2018','click')">Escuela 2018</a></mark></li>
      <li class="nav-item"><mark><a href="{{ site.baseurl }}/participantes.html" onclick="ga('send','event','menu-participantes','click')">Participantes</a></mark></li>
      <li class="nav-item"><mark><a href="{{ site.baseurl }}/proyectos.html" onclick="ga('send','event','menu-casos','click')">Proyectos</a></mark></li>
      <li class="nav-item"><mark><a href="{{ site.baseurl }}/contacto.html" onclick="ga('send','event','menu-contacto','click')">Contacto</a></mark></li>
      <li class="nav-item rrss">
        <a href="#" onclick="window.open(&quot;//twitter.com/share?url=https%3A%2F%2Fescueladeincidencia.org&amp;hashtags=EscueladeIncidencia&amp;text=Entregamos herramientas de incidencia para cambiar el mundo. Conoce más en&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
           <span class="fa-stack fa-lg">
           <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
           <i class="fa fa-twitter fa-stack-1x"></i>
         </span>
       </a>
      </li>
      <li class="rrss nav-item">
        <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=https://escueladeincidencia.org&quot;,&quot;facebook&quot;,&quot;width=550, height=350&quot;)">
          <span class="fa-stack fa-lg">
           <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
</nav>
