<section class="welcome">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/03.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/02.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/01.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/04.jpg" alt="Fourth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</section>
<section class="welcome-text">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="welcome-black"><h1>Quer mudar o mundo?<h1></div>
        <div class="welcome-white"><h2>Te entregamos as ferramentas!<h2></div>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        <img src="/assets/img/bar.svg">
        <h2>O que é?</h2>
        <p class="highlight">A Escuela de Incidencia é um espaço de formação para lideranças emergentes na América Latina, através do qual fomentamos a liderança colaborativa e participativa das novas gerações que queiram promover mudanças sociais. Transferimos conhecimentos e ferramentas metodológicas, como a metodologia <mark><a href="//br.labcivico.org" target="_blank">LabCívico</a></mark>, para fortalecer habilidades de incidência em políticas públicas.</p>
      </div>
    </div>
  </div>
</section>
